@tailwind base;
@tailwind components;
@tailwind utilities;

.input-container input {
  background-color: #dddddd;
  height: 2.9rem;

  width: 98%;
}

.input-container input::placeholder {
  color: black;
  opacity: 0.75;
}
